* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #fff;
  font-family: "Ubunto", sans-serif;
}

.wrap-content {
  position: absolute;
  height: 65%;
  width: 60%;
  background: #27272a;
  border-radius: 8px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.game-content {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.game-seleciton-wrap {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.game-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-selection a {
  text-decoration: none;
  font-size: 6.5rem;
  margin-top: 6rem;
  transition: all 0.1s;
}

.game-selection a:hover {
  transform: scale(1.1);
}

.game-selection p {
  font-size: 1.2rem;
  color: #f6efa6;
  font-weight: bold;
}
.game-selection:not(:last-child) {
  margin-right: 4rem;
}

.result {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-top: 6.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #f6efa6;
  font-weight: bold;
}

span {
  display: none;
}

.score-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 60%;
  height: 50px;
  background-color: #27272a;
  border-radius: 8px;
  padding: 2rem 5rem;
}

.score-placar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.button button {
  padding: 0.6rem 2rem;
  border-radius: 8px;
  border: 1px solid #f6efa6;
  background-color: #27272a;
  color: white;
  cursor: pointer;

  transition: all 0.4s;
}

.button button:hover {
  background-color: #f6efa6;
  color: black;
}
